# Ignore files
*.pyc
*.exe

# Ignore cache dir
__pycache__/

# Ignore credential dirs
.ssh
compose/home/

# Ignore credential files
.gitconfig
.transifexrc
compose/deploy/product/app.yaml
compose/deploy/product/Chetabahana-f92949fb068b.json
