# Ignore files
*.pyc
*.exe

# Ignore cache dir
__pycache__/

# Ignore credential dirs
.ssh
.gitconfig
.transifexrc

# Ignore credential files
compose/deploy/product/app.yaml
compose/deploy/product/Chetabahana-f92949fb068b.json
