*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.credential.json
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.gcloudignore
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.npmrc
!.plop
!.pylintrc
!.travis*
#!.tx
#*.css
*.log
*.pot
#*.pyc
local_settings.py
#__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/node_modules/
