# Ignore files
*.py[cod]
.*
!.docker
!.dockerignore
!.github
!.gitignore
!.google
!.tx
*.css
*.exe
*.log
*.pot
*.pyc
app.yaml

# Ignore dirs
__pycache__/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/static/
/saleor/static/assets/
webpack-bundle.json
/templates/templated_email/compiled/*
!/templates/templated_email/compiled/.gitkeep

# Exported results file
django-queries-results.html
